#about-us {
    position: relative;
    background: url('img/f3.jpg') no-repeat center center/cover;
    padding: 60px 0;
    color: #fff;
}

.about-us-container {
    background: rgba(0, 0, 0, 0.6); 
    padding: 40px;
    max-width: 800px;
    margin: 0 auto;
    border-radius: 10px;
}

.about-us-container h2 {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 20px;
}

.about-us-container p {
    font-size: 1.2em;
    line-height: 1.6;
    margin-bottom: 15px;
}

.about-us-containerf h2, p {
    color: whitesmoke;
}